<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="caeb9e">  <td>19/02/24 18:05:26</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:com.framework.testcases.TC001_Login@66480dd7]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/24 18:04:48</td>   <td>-37713</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:com.framework.testcases.TC001_Login@66480dd7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/24 18:04:51</td>   <td>-35375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC001_Login@66480dd7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/24 18:05:17</td>   <td>-9623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.TC001_Login@66480dd7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/24 18:04:48</td>   <td>-38245</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:com.framework.testcases.TC001_Login@66480dd7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/24 18:05:16</td>   <td>-9815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC001_Login@66480dd7]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/24 18:05:26</td>   <td>-149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.TC001_Login@66480dd7]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/02/24 18:05:14</td>   <td>-12649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.login(java.lang.String, java.lang.String)[pri:0, instance:com.framework.testcases.TC001_Login@66480dd7]">login</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/02/24 18:05:24</td>   <td>-2334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.login(java.lang.String, java.lang.String)[pri:0, instance:com.framework.testcases.TC001_Login@66480dd7]">login</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/02/24 18:04:48</td>   <td>-37762</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_Login.setData()[pri:0, instance:com.framework.testcases.TC001_Login@66480dd7]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
</table>
